nav {
    position: fixed;
    top: 16px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255, 0.4);
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  
  .main-logo {
    height: 3rem;
    padding-left: 2.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .nav-bar-icon-close {
      height: 1.5rem;
      z-index: 1000;
    padding: 1rem
  }

  .nav-bar-icon-open {
    height: 1.5rem;
    padding-right: 1rem;
  }

  
  /* Remove underline from nav links */
  nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Optional hover style */
  nav ul li a:hover {
    color: tomato;
  }
  
  .menu {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 10;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .menu-icon div {
    width: 100%;
    height: 3px;
    background-color: #0a2335;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  .menu-icon:hover div {
    background-color: #e95e2e;
    transform: scaleX(1.1);
  }

  body {
    background: url("home/BG.png") no-repeat center center/cover;
  }